.events-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 400px; /* Adjust height as needed */
    overflow-y: auto;
    padding-right: 2px;
    margin-bottom: 10px;
}

.events-container h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.events-container p {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 14px;
    text-align: left;
}

.event {
    background-color: #f0f0f0;
    border: 2px solid #070707;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column; /* Adjusted to stack children vertically */
    align-items: flex-start; /* Align children to the start of the container */
}

.event-info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligns items to start and end */
    width: 100%; /* Ensure the container takes full width */
}

.event-name, .event-date {
    font-size: 14px;
    margin-right: 10px; /* Provides spacing between name, date */
}

.event-address {
    margin-left: auto; /* Pushes the address to the right */
    font-size: 14px; /* Adjust font size as needed */
}

.event-description {
    margin-top: 20px;
    color: #686868; /* Lighter color for the description */
    font-size: 15px; /* Smaller font size for the description */
    margin-top: 5px; /* Space between the info line and the description */
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space between description and link */
    align-items: center; /* Align items vertically */
    width: 100%; /* Ensure the container takes full width */
    text-align: left;
}

.event-link {
    background-color: pink; /* Pink background */
    color: darkslategray; /* Dark text color */
    text-decoration: none; /* No underline */
    padding: 8px 12px; /* Top & Bottom, Left & Right padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 14px; /* Font size */
    display: inline-block; /* Allows padding and height adjustments */
    cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
    margin-left: 10px; /* Space from the description or other content */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}

.event-link:hover {
    background-color: #ff85a2; /* Lighter or darker pink on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
}
.event-date {
    color: #686868; /* Lighter color for the date */
}
