@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.no-scroll {
  overflow: hidden;
}


body {
  color: rgb(var(--foreground-rgb));
  @apply bg-cream;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  @apply text-slate-800 font-semibold text-5xl;
}

label, p {
  @apply text-xl;
}

li {
  font-family: 'Jost', sans-serif;
  font-size: 1.25rem;
  transition: all 0.2s ease;
}

.black-svg path {
  fill: rgb(30 41 59);;
}

.boxed-container {
  @apply w-full max-w-[1440px] mx-auto p-5 md:p-10;
}

input {
  @apply h-12 px-3 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-400 focus:ring-indigo-500 sm:text-sm;
}

.cardwrapper::before {
  content: '';
  background: conic-gradient(from 0deg at 50% 50%, #FE93B1 0%, #FE93B100 18%);

  @apply absolute h-[500%] w-[150%] left-[-20%] top-[-190%] animate-border-spin;
}

.cardcontent {
  @apply absolute w-[calc(100%-4px)] h-[calc(100%-4px)] top-[2px] left-[2px] bg-slate-800;
}

.pink-pill {
  @apply bg-pink-200 text-sm text-center text-slate-800 px-4 py-1 rounded-full w-fit border border-slate-800;

}

.box-shadow-style {
  box-shadow: 7px 7px black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
