@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* swipable scrolling, no snapping */
.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: none; 
  -webkit-overflow-scrolling: touch; 
}

.scroll-item {
  flex: 0 0 auto;  
  width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(248 250 252);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rethink Sans', serif;
  font-weight: 400;
  @apply text-slate-800;
}

p {
  font-family: 'Rethink Sans', serif;
  font-weight: 300;
  @apply text-slate-800;

}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

label, p {
  @apply text-lg;
}

li {
  font-family: 'Rethink Sans', sans-serif;
  font-size: 1.25rem;
  transition: all 0.2s ease;
}

.black-svg path {
  fill: rgb(30 41 59);;
}

.boxed-container {
  @apply w-full max-w-[1440px] mx-auto p-5 md:p-10;
}

input {
  @apply h-12 px-3 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-400 focus:ring-indigo-500 sm:text-sm;
}

.cardwrapper::before {
  content: '';
  background: conic-gradient(from 0deg at 50% 50%, #FE93B1 0%, #FE93B100 18%);

  @apply absolute h-[500%] w-[150%] left-[-20%] top-[-190%] animate-border-spin;
}

.cardcontent {
  @apply absolute w-[calc(100%-8px)] h-[calc(100%-8px)] top-[4px] left-[4px] bg-slate-800 rounded-2xl;
}

.pink-pill {
  @apply bg-pink-200 text-sm text-center text-slate-800 px-4 py-1 rounded-full w-fit border border-slate-800;

}

.box-shadow-style {
  box-shadow: 5px 5px black;
}

.box-shadow-style-0 {
  box-shadow: 5px 5px 0px 0px transparent !important;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
