@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(248 250 252);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: 800;
}

h1 {
  font-size: 2.25rem;
}

li {
  font-family: 'Jost', sans-serif;
  font-size: 1.25rem;
  transition: all 0.2s ease;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
